@import "variables.scss";


body {
  margin: 0;
  background: $darkBlue;
  color: #fff;
}

#banner {
  width: 100%;
}

#main-container{
  margin: 5px;
}

.mapbox {
  position: relative;
}

.mapbox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 314159;
  pointer-events: none;
}

.mapbox .overlay .btn {
  pointer-events: initial;
}

#table {
  //margin-bottom: 15px;
  margin-top: 15px;

  #table-header {
    display: grid;
    grid-template-columns: 15% 15% 15% 20% auto 5%;
    grid-template-rows: 25px;
    grid-column-gap: 5px;
    margin-bottom: 10px;
  }

  .table-row {
    display: grid;
    grid-template-columns: 15% 15% 15% 20% auto 5%;
    grid-template-rows: 25px;
    grid-column-gap: 5px;
    margin-bottom: 10px;

    .table-cell-1{
      grid-column: 1;
      grid-row: 1;
    }
    .table-cell-2{
      grid-column: 2;
      grid-row: 1;
    }
    .table-cell-3{
      grid-column: 3;
      grid-row: 1;
    }
    .table-cell-4{
      grid-column: 4;
      grid-row: 1;
    }
    .table-cell-5{
      grid-column: 5;
      grid-row: 1;
    }
    .table-cell-6{
      grid-column: 6;
      grid-row: 1;
    }
    .table-cell-7{
      grid-column: 1/7;
      grid-row: 2;
    }

    .table-row-details {
      display: none;
      margin-top: 10px;
      grid-template-columns: auto;
      grid-template-rows: auto;

      .table-row-details-1 {
        display: inline-grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
      }

      .table-row-details-2 {
      }

      .table-row-details-3 {
        display: inline-grid;
        grid-template-columns: 80% 20%;
      }

      .table-row-details-4 {
        display: inline-grid;
        grid-template-columns: 80% 20%;
      }

      .table-row-details-5 {
        display: inline-grid;
        grid-template-columns: 80% 20%;
      }

      .table-row-details-6 {
      }

      .table-details-cell {
        margin-top: 5px;
        border: solid 1px white;
      }
    }
  }

  .table-cell {
    text-align: center;
    border: solid 1px white;
  }
}