@import "variables.scss";


body {
	background: $darkBlue;
	color: #fff;
}

//map
.mapbox {
	position: relative;
}

.mapbox .overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 314159;
	pointer-events: none;
}

.mapbox .overlay .btn {
	pointer-events: initial;
}

//table
#table-header{
	display: grid;
	grid-template-columns: 15% 15% 15% 20% auto 5%;
	grid-template-rows: 25px;
	grid-column-gap: 5px;
	margin-bottom: 10px;
}

.table-row{
	display: grid;
	grid-template-columns: 15% 15% 15% 20% auto 5%;
	grid-template-rows: 25px;
	grid-column-gap: 5px;
	margin-bottom: 10px;
}


.table-cell {
	text-align: center;
	border: solid 1px white;
}